@mixin if-below($mq-breakpoint, $mq-breakpoints: $breakpoints) {
    @if map-has-key($mq-breakpoints, $mq-breakpoint) {
      $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
    }
  
    @media screen and (max-width: #{$mq-breakpoint}) {
      @content;
    }
  }
  @mixin if-above($mq-breakpoint, $mq-breakpoints: $breakpoints) {
    @if map-has-key($mq-breakpoints, $mq-breakpoint) {
      $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
    }
  
    @media screen and (min-width: #{$mq-breakpoint}) {
      @content;
    }
  }

$breakpoints: (
  largeDesktop : 1600px,
  desktop : 1200px,
  smallDesktop : 992px,
  tablet : 768px,
  phablet : 576px,
  phone : 415px
);