@mixin drawer {
    background-color: #4F4D49;
    color: white;
    position: fixed;
    height: 100%;
    width: 535px;
    flex-direction: column;
    top: 0;
    right: 0;
    padding: var(--main-padding);

    @include if-below(630px) {
        width: 100%;
    }

    .close-btn {
        white-space: nowrap;
        display: flex;
        text-align: right;
        justify-content: flex-end;
        cursor: pointer;
        user-select: none;
        .glyph {
            color: inherit;
        }
    } 
}