.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    position: fixed;
    &_item:not(.has_sub-menu) {
        padding: var(--main-padding);
    }
}

.has_sub-menu {
    position: relative;
    cursor: pointer;
    @include if-above(tablet) {
        &:hover {
            .show-submenu {
                visibility: hidden;
            }
            .sub-menu {
                display: flex;
            }
        }
    }
}

@mixin mobile-navigation {
    @include drawer;
    &.open-drawer {
        display: flex;
    }
}

.sub-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    .close-btn {
        display: none;
    }
    @include if-below(tablet) {
        @include mobile-navigation();
    }
    @media (hover: none) {
        @include mobile-navigation();
    }

    &_item {
        display: flex;
        user-select: none;
        // transition: color .1s ease;
        &::before {
            content: "/";
        }

        &.close-btn::before {
            content: "";
        }
        &:not(:last-child) {
            padding-right: calc(var(--main-padding) * 2);
        }
        &:last-child {
            padding-right: var(--main-padding);
        }
        // &:hover {
        //     color: #DEDEDE;
        // }
    }
}

.main-menu {
    .brand, .time, .social {
        @include if-above(1600px) {
            width: 18%;
        }
    }
    @include if-below(tablet) {
        .time, .social, .lang-switcher {
            display: none;
        }
    }
}