:root {
  --main-padding: 10.48px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

html, body {
  overflow: -moz-scrollbars-none;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10.48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
}

.mono {
  letter-spacing: 0;
  font-family: "Fragment Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
}

.glyph {
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0);
}

.active .glyph {
  color: #333;
}

main {
  padding: var(--main-padding);
}

.menu-button {
  padding: var(--main-padding);
  user-select: none;
}
.menu-button .glyph {
  color: #333;
}

#ct {
  width: 54px;
  overflow: visible;
  display: inline-block;
  white-space: nowrap;
}

.lang-switcher a:first-child {
  margin-right: var(--main-padding);
}
.lang-switcher a {
  cursor: pointer;
}
.lang-switcher a:not(.active):hover .glyph {
  color: #333;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 160px;
}

input[type=range]::-webkit-slider-runnable-track {
  background: black;
  height: 0.5px;
}

input[type=range]::-moz-range-track {
  background: #333;
  height: 0.5px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: grab;
  appearance: none;
  margin-top: -21px;
  background-color: transparent;
  height: 30px;
  width: 30px;
  background-image: url("../img/ui/thumb.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
}

input[type=range]::-moz-range-thumb {
  cursor: grab;
  border: none;
  border-radius: 0;
  background-color: transparent;
  height: 30px;
  width: 30px;
  background-image: url("../img/ui/thumb.svg");
  background-repeat: no-repeat;
  background-position: center top 2px;
}

.controls label {
  display: block;
  margin-bottom: calc(var(--main-padding) * 2);
  position: relative;
  top: -1px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  position: fixed;
}
.main-menu_item:not(.has_sub-menu) {
  padding: var(--main-padding);
}

.has_sub-menu {
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .has_sub-menu:hover .show-submenu {
    visibility: hidden;
  }
  .has_sub-menu:hover .sub-menu {
    display: flex;
  }
}

.sub-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.sub-menu .close-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .sub-menu {
    background-color: #4F4D49;
    color: white;
    position: fixed;
    height: 100%;
    width: 535px;
    flex-direction: column;
    top: 0;
    right: 0;
    padding: var(--main-padding);
  }
}
@media screen and (max-width: 768px) and (max-width: 630px) {
  .sub-menu {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .sub-menu .close-btn {
    white-space: nowrap;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    cursor: pointer;
    user-select: none;
  }
  .sub-menu .close-btn .glyph {
    color: inherit;
  }
  .sub-menu.open-drawer {
    display: flex;
  }
}
@media (hover: none) {
  .sub-menu {
    background-color: #4F4D49;
    color: white;
    position: fixed;
    height: 100%;
    width: 535px;
    flex-direction: column;
    top: 0;
    right: 0;
    padding: var(--main-padding);
  }
}
@media screen and (hover: none) and (max-width: 630px) {
  .sub-menu {
    width: 100%;
  }
}
@media (hover: none) {
  .sub-menu .close-btn {
    white-space: nowrap;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    cursor: pointer;
    user-select: none;
  }
  .sub-menu .close-btn .glyph {
    color: inherit;
  }
  .sub-menu.open-drawer {
    display: flex;
  }
}
.sub-menu_item {
  display: flex;
  user-select: none;
}
.sub-menu_item::before {
  content: "/";
}
.sub-menu_item.close-btn::before {
  content: "";
}
.sub-menu_item:not(:last-child) {
  padding-right: calc(var(--main-padding) * 2);
}
.sub-menu_item:last-child {
  padding-right: var(--main-padding);
}

@media screen and (min-width: 1600px) {
  .main-menu .brand, .main-menu .time, .main-menu .social {
    width: 18%;
  }
}
@media screen and (max-width: 768px) {
  .main-menu .time, .main-menu .social, .main-menu .lang-switcher {
    display: none;
  }
}

.contact-panel {
  background-color: #4F4D49;
  color: white;
  position: fixed;
  height: 100%;
  width: 535px;
  flex-direction: column;
  top: 0;
  right: 0;
  padding: var(--main-padding);
  display: none;
  background-color: #DEDEDE;
  color: #333;
}
@media screen and (max-width: 630px) {
  .contact-panel {
    width: 100%;
  }
}
.contact-panel .close-btn {
  white-space: nowrap;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  cursor: pointer;
  user-select: none;
}
.contact-panel .close-btn .glyph {
  color: inherit;
}
.contact-panel.open-drawer {
  display: block;
}

.about-panel {
  background-color: #4F4D49;
  color: white;
  position: fixed;
  height: 100%;
  width: 535px;
  flex-direction: column;
  top: 0;
  right: 0;
  padding: var(--main-padding);
  display: none;
  background-color: #F6F5C8;
  color: #333;
}
@media screen and (max-width: 630px) {
  .about-panel {
    width: 100%;
  }
}
.about-panel .close-btn {
  white-space: nowrap;
  display: flex;
  text-align: right;
  justify-content: flex-end;
  cursor: pointer;
  user-select: none;
}
.about-panel .close-btn .glyph {
  color: inherit;
}
.about-panel.open-drawer {
  display: block;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--item-width, 20%), 1fr));
  gap: 10vw;
  max-width: 100%;
  align-items: end;
  margin-top: 5vw;
}

.project-grid_item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.project-grid img {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: block;
  object-fit: contain;
  margin: 0 auto;
}

.project-control-panel {
  display: flex;
}
.project-control-panel .filters {
  margin-left: 10vw;
}
.project-control-panel .filters a {
  display: block;
  cursor: pointer;
}
.project-control-panel .filters a:not(:last-child) {
  margin-bottom: calc(var(--main-padding) / 2);
}

/*# sourceMappingURL=style.css.map */
